<!DOCTYPE html>
<html>
<head>
<title> Bunker Operation </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"  crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"  rel="stylesheet">
</head>


<body>
<div th:fragment="form">


    <div class="form-group">
        <label for="dataOp" class="form-label">Data da Operação</label>
        <input class="form-control" type="date" th:field="*{dataOperacao}"  id="dataOp" >
    </div>

    <div class="form-group">
        <label for="nomeNavio" class="form-label">Nome do Navio</label>
        <input class="form-control" type="text" th:field="*{navio}"  id="nomeNavio" placeholder="Nome do navio" >
    </div>

	
    <div class="form-group">
        <label for="cfn" class="form-label">CFN</label>
        <input class="form-control" type="text" th:field="*{cfn}"  id="cfn" placeholder="Número do CFN" >
    </div>
	
	
    <div class="form-group">
        <label for="fornecidoPor" class="form-label">Fornecido Por</label>
        <input class="form-control" type="text" th:field="*{fornecidoPor}"  id="fornecidoPor" placeholder="Nome do navio fornecedor" >
    </div>
	
	
    <div class="form-group">
        <label for="fornecedor" class="form-label">Fornecedor</label>
        <input class="form-control" type="text" th:field="*{fornecedor}"  id="fornecedor" placeholder="Nome do fornecedor" >
    </div>
	
	
    <div class="form-group">
        <label for="recebido" class="form-label">Recebido</label>
        <input class="form-control" type="number" th:field="*{recebido}" step="0.01"  id="recebido" placeholder="Quantidade recebida em litros - sem pontos" >
    </div>
	
	
    <div class="form-group">
        <label for="fornecido" class="form-label">Fornecido</label>
        <input class="form-control" type="number" th:field="*{fornecido}" step="0.01"  id="fornecido" placeholder="Quantidade fornecida em litros - sem pontos" >
    </div>
	
	
    <div class="form-group">
        <label for="local" class="form-label">Local</label>
        <input class="form-control" type="text" th:field="*{localidade}"  id="local" placeholder="Local da operação" >
    </div>
	
	
    <div class="form-group">
        <label for="cliente" class="form-label">Cliente</label>
        <input class="form-control" type="text" th:field="*{cliente}"  id="cliente" placeholder="Nome do cliente" >
    </div>
	
	
    <div class="form-group">
        <label for="inicio" class="form-label">Início da Operação</label>
        <input class="form-control" type="datetime-local" th:field="*{inicio}"  id="inicio">
    </div>
	
	
    <div class="form-group">
        <label for="fim" class="form-label">Fim da Operação</label>
        <input class="form-control" type="datetime-local" th:field="*{fim}"  id="fim" >
    </div>
	
</div>

</body>
</html>