<!DOCTYPE html>
<html>
<head>
<title> Bunker Operation </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"  rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

</head>


<body>

<h1 class="h1 text-center text-uppercase">operações bunker</h1>


<table class="table table-striped" id="sortTable" style="font-size: 14px; max-width:640px;" >
	<thead>
		<tr class="table-light">
            <th></th>
            <th scope="col">Data</th>
            <th scope="col">Navio</th>
            <th scope="col">CFN</th>
            <th scope="col">Fornecido Por</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Recebido</th>
            <th scope="col">Fornecido</th>
            <th scope="col">Diferença</th>
            <th scope="col">Porcentagem</th>
            <th scope="col">Localidade</th>
            <th scope="col">Cliente</th>
            <th scope="col">Início Operação</th>
            <th scope="col">Fim Operação</th>
            <th scope="col"></th>
        </tr>
	</thead>
	</tbody>  
        <tr th:each="op : ${listOperations}">
            <th scope="row"></th>
            <td><span th:text="${op.dataOperacao}"></span></td>
            <td><span th:text="${op.navio}"></span></td>
            <td><span th:text="${op.cfn}"></span></td>
            <td><span th:text="${op.fornecidoPor}"></span></td>
            <td><span th:text="${op.fornecedor}"></span></td>
            <td><span th:text="${op.recebido}"></span></td>
            <td><span th:text="${op.fornecido}"></span></td>
            <td><span th:text="${op.diferenca}"></span></td>
            <th:block th:with="percent=${op.recebido} == 0 ? 0 : ${op.recebido - op.fornecido} / ${op.recebido} * 100">
            <td><span th:text="${percent} + '%'"></span></td>
            </th:block>
            <td><span th:text="${op.localidade}"></span></td>
            <td><span th:text="${op.cliente}"></span></td>
            <td><span th:text="${op.inicio}"></span></td>
            <td><span th:text="${op.fim}"></span></td>
            <td class="buttons "><a th:href="@{/form/{id}(id=${op.id})}"
                                    th:method="get" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                <a th:href="@{/delete/{id}(id=${op.id})}" th:method="delete"
                   class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
    </table>
<script>
	$('#sortTable').DataTable({
		"language": {
			"decimal": ",",
	    "emptyTable":     "Não existe nenhuma operação registrada",
	    "info":           "Exibindo _START_ até _END_ de _TOTAL_ operações",
	    "infoEmpty":      "Exibindo 0 até 0 de 0 operações",
	    "infoFiltered":   "(Filtrado de _MAX_ operações)",
	    "thousands":      ".",
	    "lengthMenu":     "Exibir _MENU_ operações",
	    "loadingRecords": "Carregando...",
	    "search":         "Buscar:",
	    "zeroRecords":    "Nenhuma operação encontrada",
	    "paginate": {
	        "first":      "Primeira",
	        "last":       "Última",
	        "next":       "Próxima",
	        "previous":   "Anterior"
	    }}});
</script>
    <a href="/form"><button class="btn btn-dark">Adicionar
        operação</button></a>
</body>
</html>